<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Products Page</title>
</head>
<body>
<section class="d-flex justify-content-center align-items-center vh-120">
    <div class="container">
        <div class="row justify-content-end mb-3">
            <div class="col-auto">
                <a th:href="@{/admin/addProduct}" class="btn btn-info">Add Product</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="text-center">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Description</th>
                        <th scope="col">Active Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product, stat : ${products}">
                        <th scope="row" th:text="${stat.count}"></th>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.productOwner.username}"></td>
                        <td th:text="${product.description}"></td>
                        <td th:text="${product.activeStatus}"></td>
                    </tr>
                    </tbody>
                </table>

                <!-- Pagination -->
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" th:class="${products.first ? 'disabled' : ''}">
                                <a class="page-link" th:href="@{/products(page=${products.number - 1})}">Previous</a>
                            </li>
                            <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, products.totalPages - 1)}">
                                <a class="page-link" th:href="@{/products(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
                            </li>
                            <li class="page-item" th:class="${products.last ? 'disabled' : ''}">
                                <a class="page-link" th:href="@{/products(page=${products.number + 1})}">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- End Pagination -->

            </div>
        </div>
    </div>
</section>
</body>
</html>