<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<section class="d-flex justify-content-center align-items-center vh-120">
    <div class="container">
        <div class="row justify-content-end mb-3">
            <div class="col-auto">
                <a th:href="@{/addUser}" class="btn btn-info">Add User</a>
            </div>
        </div>
        <div class="row justify-content-center">
    <div class="text-center">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
                <th scope="col">Role</th>
                <th scope="col">Active Status</th>
                <th scope="col">Team</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, stat : ${users}">
                <th scope="row" th:text="${stat.count}"></th>
                <td th:text="${user.name}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.contactNumber}"></td>
                <td th:text="${user.role}"></td>
                <td th:text="${user.activeStatus}"></td>
                <td th:text="${user.teamsString}"></td>
            </tr>
            </tbody>
        </table>

        <!-- Pagination -->
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:class="${users.first ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/users(page=${users.number - 1})}">Previous</a>
                    </li>
                    <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0, users.totalPages - 1)}">
                        <a class="page-link" th:href="@{/users(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
                    </li>
                    <li class="page-item" th:class="${users.last ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/users(page=${users.number + 1})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>


        <!-- End Pagination -->

    </div>
        </div>
    </div>
</section>
</body>
</html>
