<nav class="sidebar">
  <div class="sidebar-title">SPARK</div>
  <ul>
    <li><a routerLink="/"><span [innerHTML]="icons.home"></span> Home</a></li>
    <li><a routerLink="/teams"><span [innerHTML]="icons.teamList"></span> Team List</a></li>
    <li><a routerLink="/users"><span [innerHTML]="icons.userInfo"></span> Add || Edit User Info</a></li>
    <li><a routerLink="/products"><span [innerHTML]="icons.productList"></span> Product List</a></li>
    <li><a routerLink="/product-module"><span [innerHTML]="icons.productModule"></span> Product Module</a></li>
    <li><a routerLink="/backlog"><span [innerHTML]="icons.backlog"></span> Back Log</a></li>
    <li><a routerLink="/backlog-mits"><span [innerHTML]="icons.backlogToMITS"></span> Backlog Add to MITS</a></li>
    <li><a routerLink="/sprint-declare"><span [innerHTML]="icons.sprintDeclare"></span> Sprint Declare</a></li>
    <li><a routerLink="/tasks"><span [innerHTML]="icons.taskList"></span> Task List</a></li>
    <li><a routerLink="/comparative-statement"><span [innerHTML]="icons.comparativeStatement"></span> Comparative Statement</a></li>
    <li><a routerLink="/summary-report"><span [innerHTML]="icons.summaryReport"></span> Summary Report</a></li>
    <li><a routerLink="/user-comparative"><span [innerHTML]="icons.userComparative"></span> User Comparative Statement</a></li>
    <li><a routerLink="/backlog-task-assigned"><span [innerHTML]="icons.backlogTaskAssigned"></span> Backlog Task Assigned</a></li>
  </ul>
</nav>
